.projectsBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .projectBox {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: $left-shifted;
    @media (max-width: 768px) {
      padding-left: $left-shifted-mobile;
      flex-direction: column;
    }
    text-align: left;
  }
  .projectName {
    margin-top: 0;
  }
  .techRows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .textColumn {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }
  img {
    width: 500px;
    border: 4px solid $green-color;
    @media (max-width: 768px) {
      width: 300px;
    }
  }
  p {
    font-size: 1.8rem;
    margin: 2rem 0 4rem 0;
  }
}
