.aboutScreen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: $left-shifted;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.mainContent {
  display: flex;
  flex-direction: row;
}
