.sentenceContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 16vw;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 20%;
}
.green {
  color: rgb(42, 170, 42);
}
h2 {
  margin: 0;
  margin-left: 0.1rem;
}
.currentWord {
  width: fit-content;
  display: flex;
  min-width: 0;
}
.lShape {
  color: rgba(13, 13, 13, 0.809);
  font-weight: 100;
}

.breathing {
  animation: breathe 0.6s forwards infinite;
}

@keyframes breathe {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  71% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
