.plusBoxContainer {
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    text-wrap: wrap;
    width: 10rem;
    margin: 0;
  }
}
.plusBox {
  margin: 0;
  margin-right: 10rem;
  @media (max-width: 768px) {
    margin: 0.5rem;

    margin-right: 0;
  }
}
.colored {
  color: $orange;
  margin-left: 0.4rem;
  font-weight: 4000;
}
.title {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
