.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 100vw;
  padding-left: $left-shifted;
  text-align: left;
  p {
    padding: 0;
    font-size: 1.5rem;
  }
  h1 {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}
